TURSO_DATABASE_URL=
TURSO_DATABASE_AUTH_TOKEN=
NEXT_PUBLIC_S3_RESIZED_IMAGE_BUCKET=

SMTP_USER=sendtomakon@gmail.com
SMTP_PASS=your_google_app_password

CONTACT_TO_EMAIL=kaymcline@gmail.com,sendtomakon@gmail.com
CONTACT_BCC_EMAIL=sendtomakon@gmail.com
